.product{
    
    width: 300px;
    border:solid  2px rgb(238, 233, 224) ;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.btn-chart{
background-color: rgb(59, 59, 58);
border-radius: 10px;
color: aliceblue;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.btn-chart .btn-txt{
    margin-right: 5px;
}
/* .btn-chart :hover{
    transform: scale(1.5);
} */
.product-name{
    font-weight: 500;
    font-size: large;
}
.product-price{
    font-weight: 400;
    font-size: medium;
}